.page-footer{

  margin: 0;
  padding: 0 25px;
  padding-top: 38px;

  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}
.page-footer__logo {
  padding: 0 85px;
}

.social__link--footer {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  opacity: 1;
  background-color: @btn-color;
}
.page-footer__social {
  margin-bottom: 60px;
}
.copyright {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.copyright__text {
  padding-top: 5px;
  font-family: @main-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;

    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
  .page-footer__social {
    width: 180px;
    padding: 0;
  }
  .social__link--footer {
    width: 60px;
    height: 60px;
  }
  .copyright__text {
    padding-right: 20px;
  }
}
