.registry {
  padding: 75px 25px 20px;
  margin: 0;
  background-color: @second-color;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.registry__title {
  margin: 0;

  font-family: @main-font;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color:#ff8d30;
}
.registry__text {

  font-family: @main-font;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}
.registry__text--link {
  color: @btn-color;
}
.registry__string{
  position: relative;
}
.registry__field {
  width: 245px;
  height: 62px;
  border-radius: 15px;
  border: none;
}
.registry__field[placeholder] {
  padding-left: 25px;
}
.registry__button {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0px;
  left: 206px;
  border-radius: 15px;
  border: none;

  cursor: pointer;

  background-color: @btn-color;
  background-image: url(/source/img/triangle-arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 10px 14px;
  background-position: 28px 25px;
}
.registry__item {
  padding-left: 72px;
  padding-bottom: 7px;
}
.registry__item a {
  color: @btn-color;
}
@media (min-width: @tablet-width){
  .registry {
    padding: 0 75px;
    padding-top: 80px;
    padding-bottom: 85px;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  .registry__title {
    font-size: 45px;
    line-height: 45px;
  }
  .registry__text {
    font-size: 28px;
    line-height: 33px;
  }
  .registry__field {
    width: 618px;
    height: 81px;

    border-radius: 20px;
  }
  .registry__button {
    position: absolute;
    width: 82px;
    height: 83px;
    top: 0px;
    left: 576px;
    border-radius: 20px;
    border: none;

    cursor: pointer;

    background-position: 38px 35px;
  }
  .registry__field[placeholder] {
    font-size: 24px;
    line-height: 24px;
    color: rgba(0,0,0, 0.3);
  }
  .registry__item {
    padding-left: 125px;
    padding-bottom: 25px;
  }

}
