.review {
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 20px;


  background-color: @main-color;
  color: #ffffff;
  font-family: @main-font;

  font-size: 16px;
  line-height: 22px

}
.rewiew__text {
  width: 150px;
  padding-left: 50px;


}
.rewiew__author {
  width: 155px;
  padding-left: 50px;

  font-weight: bold;
}
@media (min-width: @tablet-width) {
  .review {
    .offset();
    margin-top: -450px;
    margin-bottom: 250px;

    background: none;
  }
  .rewiew__text {
    width: 285px;
    padding-left: 74px;

    font-size: 28px;
    line-height: 33px;
  }
  .rewiew__author {
    width: 285px;
    padding-left: 74px;

    font-size: 21px;
    line-height: 25px;
  }

}
